/* 
Auteur : David Lebrun 
Projet : Zen Garden CSS 
Date de remise : 21 novembre 2012
*/

*{
	margin:0px;
	padding:0px;
}

html {
	background-color:#FAFFF5;
}


#pageHeader h1, #pageHeader h2 {
	display:none;
}

#pageHeader {
	background-image:url('../images/banner.jpg');
	background-repeat:no-repeat;
	width:960px;
	height:249px;
}

#container {
	margin:0px auto;
	width:960px;
	height:1985px;
	background-color:white;
	box-shadow:10px 10px 30px black;
}

#quickSummary {
	background-image:url('../images/LogoZen2.png');
	background-repeat:no-repeat;
	width:780px;
	float:left;
}

#quickSummary .p1 {
	width:350px;
	padding:15px;
	margin-left:490px;
	margin-top:10px;
	text-decoration:none;
	color:#9e6429;
	font-size:17px;
	font-family:'Paprika';
}

#quickSummary .p2 {
	padding:20px;
	color:#9e6429;
	font-size:14px;
	font-family:'Paprika';
}

#quickSummary .p2 a {
	text-decoration: underline;
	font-size:15px;
	color:Brown;
}

#quickSummary .p2 a:hover{
	text-decoration: underline;
	font-size:20px;
	color:blue;
}

#preamble, #explanation, #participation, #benefits, #requirements {
	width:725px;
	margin-top:30px;
	padding:30px;
	margin-left:4px;
	font-family:'Droid Sans';
	font-size:14px;
	text-align:justify;
	background-image:url('../images/background-box.png');
	box-shadow:2px 2px 5px SlateGray;
	border-radius:10px;
	float:left;
}

#preamble a, #explanation a, #participation a, #benefits a, #requirements a {
	text-decoration: underline;
	font-size:15px;
	color:Brown;
}

#preamble a:hover, #explanation a:hover, #participation a:hover, #benefits a:hover, #requirements a:hover {
	text-decoration: underline;
	font-size:20px;
	color:blue;
}

#preamble h3, #explanation h3, #participation h3, #benefits h3, #requirements h3 {
	font-family:'Kaushan Script';
	font-size:20px;
	color:#9e6429;
	padding:10px;
}

#lselect h3, #larchives h3, #lresources h3 {
	width:155px;
	height:35px;
	margin-top:60px;
	margin-left:795px;
	text-align:center;
	font-family:'Kaushan Script';
	color:#9e6429;
	text-decoration:underline;
}

#lselect h3 {
	margin-top:200px;
}

#lselect ul, #larchives ul, #lresources ul{
	width:140px;
	height:255px;
	margin-left:805px;
	margin-right:10px;
	border-radius:10px;
	box-shadow:2px 2px 5px SlateGray;
	background-image:url('../images/background-box.png');
	font-size:13px;
	text-align:left;
	color:Brown;
	padding-top:5px;
	line-height: 30px;
}

#larchives ul {
	height:100px;
	text-align:center;
}

#lresources ul {
	height:150px;
	text-align:center;
}

#lselect li, #larchives li, #lresources li {
	display:inline;
	font-size:13px;
	display: block;
}

#lselect li a, #larchives li a, #lresources li a {
	text-decoration: underline;
	font-size:13px;
	color:Brown;
}

#lselect li a:hover, #larchives li a:hover, #lresources li a:hover, #footer a:hover {
	font-size:14px;
	color:blue;
	text-decoration:underline;
}

#footer {
	text-align:center;
	position:relative;
	top:1700px;
	left:-400px;
}

#footer a {
	text-decoration:none;
	color:Brown;
	font-size:11px;
	font-family:'Arial';
}

